@tailwind base;
@tailwind components;
@tailwind utilities;
.hamburger {
    position: relative;
    width: 24px;
    height: 24px;
}

.site-logo {
    font-family: "Delius Unicase";
}

.hamburger-top,
.hamburger-bottom,
.hamburger-middle {
    position: absolute;
    width: 24px;
    height: 2px;
    left: 0;
    top: 0;
    background: white;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}

.hamburger-middle {
    transform: translateY(7px);
    -webkit-transform: translateY(7px);
    -moz-transform: translateY(7px);
    -ms-transform: translateY(7px);
    -o-transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
    -webkit-transform: translateY(14px);
    -moz-transform: translateY(14px);
    -ms-transform: translateY(14px);
    -o-transform: translateY(14px);
}